body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: hsl(185, 75%, 39%);
  background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-position: right 40vw bottom 66vh, left 40vw top 55vh;
  background-size: 160%, 160%;
  background-repeat: no-repeat, no-repeat;
  font-family: 'kumbh sans';
  color: hsl(229, 23%, 23%);
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 25%);
  grid-template-areas: '. . .' 'victor victor victor' 'name name name' 'd1 d2 d3';
  background-color: white;
  border-radius: 5%;
  background-image: url(./images/bg-pattern-card.svg);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat, no-repeat;
  width: 22rem;
  height: 23rem;
  text-align: center;
  gap: 2px;
  box-shadow: 0 40px 90px -30px hsl(227, 10%, 46%);
}

img {
  grid-area: victor;
  justify-self: center;
  border: 0.3rem solid white;
  border-radius: 50%;
}
.p1,
div {
  font-size: 18px;
}

.p1 {
  font-weight: 700;
  grid-area: name;
  margin: 2rem 0 1rem 0;
}

.d1,
.d2,
.d3 {
  align-self: center;
  font-weight: 700;
  padding: 0 20px;
}
.d1 {
  grid-area: d1;
}
.d2 {
  grid-area: d2;
}
.d3 {
  grid-area: d3;
}
span {
  font-size: 12px;
  font-weight: 200;
}
.p1 .age {
  font-size: 16px;
}

@media (min-width: 500px) {
  body {
    background-position: right 53vw bottom 48vh, left 46vw top 55vh;
    background-size: 50rem 50rem, 60rem 60rem;
  }
}
